
.container{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.tab{
    background-color:rgb(107, 210, 228);
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
}
.arrow{
    cursor: pointer;
}

.tabName{
    width: 80%;
    display: flex;
    justify-content: center;
}
