.container{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab{
    background-color:rgb(107, 210, 228);
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
}